h5{
	background-color: #EFEFEF; 
	height: 3px;	
	width: 100%;
}

.tr_color{
	background-color: #EFEFEF;
}

input[list], input[type="text"], input[type="password"], input[type="number"], input[type="date"], select, textarea
{
     border: none;	 
     border-bottom: 1.5px solid #1D2031;	 
	 width: 165px;	
}input[type="date"]{ height: 28px;}
td{
	height: 25px;
}

/*style da tabela data table*/
table.dataTable tr.odd { background-color: #E0E0E0;  }
table.dataTable tr.even { background-color: #FFF; }

table.dataTable tr.odd td.sorting_1 { background-color: #E0E0E0;  }
table.dataTable tr.odd td.sorting_2 { background-color: #E0E0E0;  }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E0E0;  }
table.dataTable tr.even td.sorting_1 { background-color: #A0A0A0; }
table.dataTable tr.even td.sorting_2 { background-color: #FFF; }
table.dataTable tr.even td.sorting_3 { background-color: #A0A0A0; }
/*fim dos style da tabela data table*/

.art-vmenublockheader
{
   background: #CCCCCC;
   border:2px solid #5D5D5D;
   border-left:none;
   border-right:none;
}

.art-footer
{
   background: #000;
   margin:0 auto;
   position: relative;
   color: #B9B9B9;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

/*boostra 
menu acordion*/
.panel-heading {
  padding: 3px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;  
  color: inherit;
}
.panel-body {
  padding: 5px;
}